.banner input[id*="slide"] {
  display: none;
}
.banner .slidewrap {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.banner .slidelist {
  white-space: nowrap;
}
.banner .slidelist li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}
.banner .slidelist li a {
  display: block;
  position: relative;
}
.banner .slidelist li img {
  width: 100%;
  margin: 0 auto;
  height: 600px;
}
.banner .slidelist label {
  position: absolute;
  z-index: 10;
  top: 280px;
  padding: 0 50px;
  cursor: pointer;
  font-size: 40px;
  color: white;
}
.banner .slidelist .left {
  left: 30px;
}
.banner .slidelist .right {
  right: 30px;
}
.banner [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.banner [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.banner [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

.about {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
.about span {
  font-size: 30px;
}
.about p {
  margin: 20px 0;
}
.about button {
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 3px;
}

.productBanners {
  width: 1200px;
  margin: 0 auto;
}
.productBanner,
.reviewBannerWrap {
  width: 100%;
  margin-bottom: 50px;
}
.productBanner h1,
.reviewBannerWrap h1 {
  text-align: center;
}
.prodBanner,
.reviewBanner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.ProdItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  text-align: center;
  margin: 10px 20px;
}
.ProdItem img,
.reviewItem img {
  width: 100%;
  height: auto;
}
.reviewItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  text-align: center;
  margin: 10px 20px;
}
.prodLeft,
.prodRight {
  font-size: 40px;
  color: black;
}
.ProdItem span {
  font-size: 14px;
  color: #666666;
}
